USE [master]
GO
/****** Object:  Database [OyunSatisDB]    Script Date: 11.01.2026 17:19:24 ******/
CREATE DATABASE [OyunSatisDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OyunSatisDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\OyunSatisDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OyunSatisDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\OyunSatisDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OyunSatisDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OyunSatisDB]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 11.01.2026 17:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[KayitTarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OYUN]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OYUN](
	[OyunID] [int] IDENTITY(1,1) NOT NULL,
	[OyunAdi] [varchar](50) NOT NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[YayinTarihi] [date] NULL,
	[KategoriID] [int] NULL,
	[YapimciID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OyunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[SatisTarihi] [datetime] NULL,
	[SatisFiyati] [decimal](10, 2) NULL,
	[MusteriID] [int] NULL,
	[OyunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAPIMCI]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAPIMCI](
	[YapimciID] [int] IDENTITY(1,1) NOT NULL,
	[YapimciAdi] [varchar](100) NOT NULL,
	[Ulke] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[YapimciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KATEGORI] ON 

INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (1, N'Aksiyon')
INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (2, N'Strateji')
INSERT [dbo].[KATEGORI] ([KategoriID], [KategoriAdi]) VALUES (3, N'Spor')
SET IDENTITY_INSERT [dbo].[KATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] ON 

INSERT [dbo].[MUSTERI] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [KayitTarih]) VALUES (1, N'Ali', N'Yilmaz', N'ali.yilmaz@gmail.com', N'5555342346', CAST(N'2026-01-11' AS Date))
INSERT [dbo].[MUSTERI] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [KayitTarih]) VALUES (2, N'Ayse', N'Demir', N'ayse.demir@gmail.com', N'5556754564', CAST(N'2026-01-11' AS Date))
INSERT [dbo].[MUSTERI] ([MusteriID], [Ad], [Soyad], [Email], [Telefon], [KayitTarih]) VALUES (3, N'Mehmet', N'Kaya', N'mehmet.kaya@gmail.com', N'5516435955', CAST(N'2026-01-11' AS Date))
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] OFF
GO
SET IDENTITY_INSERT [dbo].[OYUN] ON 

INSERT [dbo].[OYUN] ([OyunID], [OyunAdi], [Fiyat], [YayinTarihi], [KategoriID], [YapimciID]) VALUES (2, N'Kale Savunmasi', CAST(271.21 AS Decimal(10, 2)), CAST(N'2022-11-15' AS Date), 2, 3)
INSERT [dbo].[OYUN] ([OyunID], [OyunAdi], [Fiyat], [YayinTarihi], [KategoriID], [YapimciID]) VALUES (3, N'Sokak Futbolu 24', CAST(600.00 AS Decimal(10, 2)), CAST(N'2024-01-10' AS Date), 3, 1)
INSERT [dbo].[OYUN] ([OyunID], [OyunAdi], [Fiyat], [YayinTarihi], [KategoriID], [YapimciID]) VALUES (4, N'Hiz Tutkusu', CAST(550.00 AS Decimal(10, 2)), CAST(N'2023-08-30' AS Date), 5, 4)
SET IDENTITY_INSERT [dbo].[OYUN] OFF
GO
SET IDENTITY_INSERT [dbo].[SATIS] ON 

INSERT [dbo].[SATIS] ([SatisID], [SatisTarihi], [SatisFiyati], [MusteriID], [OyunID]) VALUES (1, CAST(N'2023-08-01T00:00:00.000' AS DateTime), CAST(50.00 AS Decimal(10, 2)), 1, 16)
INSERT [dbo].[SATIS] ([SatisID], [SatisTarihi], [SatisFiyati], [MusteriID], [OyunID]) VALUES (2, CAST(N'2023-08-02T00:00:00.000' AS DateTime), CAST(120.00 AS Decimal(10, 2)), 2, 17)
INSERT [dbo].[SATIS] ([SatisID], [SatisTarihi], [SatisFiyati], [MusteriID], [OyunID]) VALUES (3, CAST(N'2023-08-03T00:00:00.000' AS DateTime), CAST(130.00 AS Decimal(10, 2)), 3, 18)
SET IDENTITY_INSERT [dbo].[SATIS] OFF
GO
SET IDENTITY_INSERT [dbo].[YAPIMCI] ON 

INSERT [dbo].[YAPIMCI] ([YapimciID], [YapimciAdi], [Ulke]) VALUES (1, N'Omega Yazilim', N'Türkiye')
INSERT [dbo].[YAPIMCI] ([YapimciID], [YapimciAdi], [Ulke]) VALUES (2, N'Galaksi Stüdyo', N'ABD')
INSERT [dbo].[YAPIMCI] ([YapimciID], [YapimciAdi], [Ulke]) VALUES (3, N'Kuzey Soft', N'Almanya')
SET IDENTITY_INSERT [dbo].[YAPIMCI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MUSTERI__A9D1053402A8CF8D]    Script Date: 11.01.2026 17:19:25 ******/
ALTER TABLE [dbo].[MUSTERI] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IND_OyunAdiArama]    Script Date: 11.01.2026 17:19:25 ******/
CREATE NONCLUSTERED INDEX [IND_OyunAdiArama] ON [dbo].[OYUN]
(
	[OyunAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MUSTERI] ADD  DEFAULT (getdate()) FOR [KayitTarih]
GO
ALTER TABLE [dbo].[SATIS] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[OYUN]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KATEGORI] ([KategoriID])
GO
ALTER TABLE [dbo].[OYUN]  WITH CHECK ADD FOREIGN KEY([YapimciID])
REFERENCES [dbo].[YAPIMCI] ([YapimciID])
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD FOREIGN KEY([OyunID])
REFERENCES [dbo].[OYUN] ([OyunID])
GO
/****** Object:  StoredProcedure [dbo].[SP_KategoriIndirim]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KategoriIndirim]
@KategoriID int,
@IndirimYuzdesi int
AS
BEGIN
UPDATE OYUN 
SET Fiyat=Fiyat-(Fiyat*@IndirimYuzdesi/100)
WHERE KategoriID = @KategoriID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_OyunEkle]    Script Date: 11.01.2026 17:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OyunEkle]
@OyunAdi varchar(100),
@Fiyat decimal(10,2),
@YayinTarihi date,
@KategoriID int,
@YapimciID int
AS
BEGIN
INSERT INTO OYUN (OyunAdi, Fiyat, YayinTarihi, KategoriID, YapimciID)
VALUES (@OyunAdi, @Fiyat, @YayinTarihi, @KategoriID, @YapimciID)
SELECT TOP 10 * FROM OYUN 
ORDER BY OyunID DESC;
END;
GO
USE [master]
GO
